<div style="text-align: center;" [hidden]='isLogged'>
  <h1>Please Login to Continue:</h1>
  <br>Enter User Id: <input [(ngModel)]='log.userid' />
  <br><br>Enter Password: <input type="password" [(ngModel)]='log.password' />
  <br><br>
  <button class="btn btn-primary" (click)='submit()'>Submit</button>
  <button class="btn btn-primary ml-2" (click)='reset()'>Reset</button> {{show}}
  <br><br>
  <!-- <button><a routerLink='/search-options'>Search options</a></button>
  <button><a routerLink='/search-results'>Search result</a></button>
  <button><a routerLink='/modify'>Modify</a></button> -->

</div>

<router-outlet></router-outlet>